.nav {
  max-width: 128rem;
  height: 7rem;
  margin: auto;
  background-color: $navbar-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  @media only screen and (max-width: 600px) {
    justify-content: space-around;
  }

  &__logo {
    align-self: flex-start;
    margin-left: 5rem;
    min-height: 10.2rem;
    @media only screen and (max-width: 450px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    margin-right: 6.3rem;
    @media only screen and (max-width: 600px) {
      margin-right: 0.5rem;
    }
  }

  &__item {
    margin-left: 2rem;
    @media only screen and (max-width: 500px) {
      margin-left: 0.5rem;
    }
  }

  &__link {
    padding: 2.8rem 0.9rem;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.3);
    }
  }
}
